body {
    background-color: chartreuse;  
}

img {
    width: 500px; 
}

table, th, td {
    border: 1px solid black;
  }

.importantCell {
    background-color: salmon;
}

.box {

    height: 100px;
    width: 100px;
    background-color: green;
    border: 1px solid black;
    margin: 10px;


}
.box-rows {
    flex-direction: row;
    display: flex;
}
.box-container {
    flex-direction: column;
    display: flex;
}

